.git
.github
.devcontainer

.venv
venv
__pycache__
*.py[cod]

.pytest_cache
.coverage
.coveragerc
htmlcov
coverage.xml

.env
*.env
*.env.*

*.log
*.save
*.bak
*~

tests
uploads
tmp

.vscode
.idea
.DS_Store
Thumbs.db

README.md
pytest.ini
.gitignore
